<nav class="navbar navbar-default navbar-fixed-top" ng-cloak>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <span class="icon i-logo"></span>
                <h4>QuoteBucket</h4>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <a href="/login" class="navbar-link navbar-right" ng-hide="isLoggedIn">Sign In</a>
            <a href="/register" class="btn btn-secondary navbar-right" ng-hide="isLoggedIn">Sign Up</a>
            <a href="#" class="btn btn-secondary navbar-right" ng-show="isLoggedIn" ng-click="logout()">Log Out</a>
            <a href="#" class="navbar-link navbar-right" ng-show="isLoggedIn">{{ currentUser.name }}</a>
        </div>
    </div>
</nav>