<nav class="navbar navbar-default navbar-fixed-top" ng-cloak>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-init="navbarCollapsed = true" ng-click="navbarCollapsed = !navbarCollapsed" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/app" class="navbar-brand">
                <span class="icon i-logo"></span>
                <!--<h4>QuoteBucket</h4>-->
            </a>
        </div>
        <div class="navbar-header text-center   ">

        </div>
        <div uib-collapse="navbarCollapsed" class="navbar-collapse" aria-expanded="false" style="height: 1px;">
            <div ng-hide="isLoggedIn">
                <a href="/login" class="navbar-link navbar-right">Sign In</a>
                <a href="/register" class="btn btn-secondary navbar-right">Sign Up</a>
            </div>
            <div ng-show="isLoggedIn">
                <a href="/app" class="navbar-link nav-main navbar-left" ng-class="getClass('/app')">All</a>
                <a href="/app/favorite" class="navbar-link nav-main navbar-left" ng-class="getClass('/app/favorite')">Favorite</a>
                <a href="#" class="navbar-link navbar-right"
                   uib-popover-template="userAccountPopover.templateUrl"
                   popover-placement="bottom"
                   popover-append-to-body="true"
                   popover-is-open="userAccountPopover.isOpen"
                   popover-trigger="outsideClick">{{ currentUser.name }}
                    <i class="fa fa-angle-down"></i>
                </a>
                <a href="#" class="add-button navbar-right"
                   uib-tooltip="Add a quote"
                   tooltip-placement="bottom"
                   uib-popover-template="newQuotePopover.templateUrl"
                   popover-placement="bottom"
                   popover-append-to-body="true"
                   popover-is-open="newQuotePopover.isOpen"
                   popover-trigger="outsideClick"><i class="fa fa-plus fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</nav>