.navbar {
  box-shadow: 0 1px 4px $grey-3 ;
  background-color: $white;
  text-align: center;

  .navbar-header {
    min-width: 100% ;
  }

  .mobile-hide {
    @include breakpoint(0, $screen-sm-min) {
      display: none;
    }
  }

  .desktop-hide {
    @include breakpoint($screen-sm-min, 0) {
      display: none;
    }
  }

  .navbar-toggle {
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .btn {
    height: 36px;
    margin: 18px 10px;
  }

  .btn-secondary {
    padding: 7px 26px;

    &:hover,
    &:focus,
    &:active,
    &:target {
      color: $white !important;
      background: lighten($primary-color, 5%) !important;
    }
  }

  .navbar-link {
    height: $navbar-height;
    width: auto;
    text-align: center;
    padding-top: 25px;
  }


  .active {
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
  }

  .add-button {
    margin-right: 22px;
    margin-left: 22px;

    &:hover {
      color: $primary-color;
    }
  }

  .fa {
    &:hover {
      color: $primary-color;
    }
  }
}


.navbar-brand {
  padding: 0 15px;
  line-height: $navbar-height;
  height: $navbar-height;
  margin-right: 30px;

  @include breakpoint(0, $screen-sm-min) {
    display: none;
  }

  .i-logo {
    font-size: 3rem;
    margin: 10px 0;
    padding: 0;
    display: inline-block;
  }
}

.navbar-toggle {
  border: none;
}