.navbar {
  height: 70px;
  box-shadow: 0 1px 4px $grey-3 ;

  .container {
    max-width: 1200px;
  }


  .btn {
    height: 36px;
    margin: 18px 10px;
  }

  .btn-secondary {
    padding-left: 26px;
    padding-right: 26px;
  }

  .navbar-link {
    display: block;
    height: 70px;
    width: auto;
    text-align: center;
    padding-top: 25px;
  }

  .nav-main {
    width: 70px;
    margin-right: 20px;
  }

  .active {
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
  }

  .add-button {
    margin-top: 22px;
    margin-right: 22px;
    margin-left: 22px;

    &:hover {
      color: $primary-color;
    }
  }

  .fa {
    &:hover {
      color: $primary-color;
    }
  }
}

.navbar-default {
  background: #ffffff;
}

.navbar-brand {
  padding: 5px 15px;
  display: inline-block;
  margin-right: 30px;

  .i-logo {
    font-size: 3rem;
    margin: 10px 0;
    padding: 0;
    display: inline-block;
  }

  h4 {
    display: inline-block;
  }
}
