.popover {
  min-width: 200px;
  max-width: 350px;
  border-radius: $border-radius;

  .arrow {
    right: 20px;
  }

  .popover-content {
    padding: 0;
  }

}

.add-quote {
  margin: 20px;

  .form-control {
    width: 285px;
  }

  .btn {
    width: 100%;
  }
}