<header>
    <navigation></navigation>
</header>
<toast></toast>
<div class="container">
    <div class="text-center">
        <i class="icon i-logo"></i>
    </div>
    <h2 class="text-center">Sign In</h2>
    <div class="login-form">
        <form ng-submit="authenticate()" role="form" name="loginForm" novalidate>

            <div class="alert alert-danger" role="alert" ng-if="error">{{ error }}</div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email" ng-model="credentials.email" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" ng-model="credentials.password" required/>
                </div>
                <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid">Sign In</button>
        </form>
    </div>
    <h6 class="text-center">Don't have an account?</h6>
    <h4 class="text-center"><a href="/register">Create Account</a></h4>
</div>