<!--<ul ng-cloak>-->
    <!--<li ng-repeat="quote in quotes">-->
        <!--{{ quote.text }} - {{ quote.author }}-->
    <!--</li>-->
<!--</ul>-->
<div class="quotes">
    <h1>My Quotes</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="quote-card">
               <h2>“Done is better than perfect.”</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="quote-card">
                <h2>“Done is better than perfect.”</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="quote-card">
                <h2>“Done is better than perfect.”</h2>
            </div>
        </div>
    </div>
</div>