<header>
  <!--<mobile-navigation is-open="{{ mobileNavigation.isOpen }}"></mobile-navigation> -->
  <app-navbar></app-navbar>
</header>
<div class="container">
  <div class="quotes">
    <h1>My Quotes</h1>
    <div class="row">
      <button (click)="logout()">Log Out</button>
      <!--<div class="col-md-6" ng-repeat="quote in quotes | filter: (location == '/app/favorite' || '') && {favorite: true} track by $index">-->
        <!--<quote-card></quote-card>-->
      <!--</div>-->
    </div>
  </div>
</div>
