.btn {
  height: 45px;
  border-radius: $border-radius;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:focus,
  &:active,
  &:target {
    background: lighten($primary-color, 5%) !important;
    border-color: lighten($primary-color, 5%) !important;
  }

  &:disabled {
    background: $grey-3;
    border-color: $grey-3;
  }

  &:hover:disabled {
    background: $grey-3;
    border-color: $grey-3;
  }
  
  .fa {
    color: $white;
  }
}


.btn-secondary {
  background: none;
  border-color: $primary-color;

  &:hover,
  &:focus,
  &:active,
  &:target {
    color: $white !important;
    background: lighten($primary-color, 5%) !important;;
    border-color: lighten($primary-color, 5%) !important;
    box-shadow: none;
  }
}