.btn {
  height: 45px;
  border-radius: $border-radius;
}

.btn-primary {
  background: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:focus,
  &:active,
  &:target {
    background: lighten($primary-color, 5%) !important;
    border-color: lighten($primary-color, 5%) !important;
  }
}


.btn-secondary {
  background: none;
  border-color: $primary-color;

  &:hover,
  &:focus,
  &:active,
  &:target {
    border-color: lighten($primary-color, 5%) !important;
    box-shadow: none;
  }
}