* {
  font-family: $font-stack;
  color: $grey-2;
}
html {
  font-size: 14px;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
}


h3 {
  font-size: 2rem;
  font-weight: 200;
}

h4 {
  font-size: 1.5rem;
  font-weight: 200;
}

h5 {
  font-size: 1rem;
  font-weight: 200;
}

h6 {
  font-size: 0.86rem;
}

p {
  font-size: 1rem;
}

a {
  color: $primary-color;

  &:hover {
    color: lighten($primary-color, 5%) !important;
    text-decoration: none;
  }
}

label {
  font-size: 1rem;
  font-weight: 200;
}