
// Colors
$primary-color: #FF7E82;
$secondary-color: #007A87;
$white: #ffffff;
$black: #000000;
$yellow: #ffd22e;

// Grey shades
$grey-1: #4A4A4A;
$grey-2: #747474;
$grey-3: #CCCCCC;
$grey-4: #F3F3F3;

// Font stacks
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Borders
$border-radius: 2px;

